---
layout: page
title: About
permalink: /about/
priority: 0.9

intro: |
  Hi, I'm Wanning! 

  Born and raised in Xinjiang, China, my focuses can be summarized into three fields: Data, Music and Movie.

  I'm currently living in Rotterdam, NL and planning to move to Shanghai next month.

  Previously I did my Master in Delft University of Technology and worked on research topic -- Information Retrieval. My [master thesis](https://repository.tudelft.nl/islandora/object/uuid%3A2a0538ba-c79e-4572-bdb7-c82db303f169) was about building question answering platforms using question retrieval techniques.

  Currently I'm working on different data analytics projects including classification and time series tasks.

  Also I'm looking for the full time job (Data Scientist, Data Analyst, Business Analyst) in China and Euroupe. You can connect with me on [Linkedin](//www.linkedin.com/in/wanningyang) or via email (yangwn03@outlook.com).

  <!-- a multi-disciplined designer, particularly focussed around
  digital product design, user experience (UX), and usability. I aim to bridge
  the gap between design and technical implementation by working alongside
  developers to research, prototype and deliver products with effective,
  engaging and accessible user experiences.

  I design, test and prototype multi-platform websites and apps, as well as
  creating and managing design systems to drive efficiency and consistency.

  I currently work (and live) in Central London as a Product Designer (UX/UI) at
  [Clearscore](//www.clearscore.com/).

  Previously I was at [Acuris](//www.acuris.com/) where I worked on researching
  and designing the search journey for the flagship M&A deals database, and also
  built out a set of complex scalable design libraries to cover the company's
  six divisions.

  Before that I was a UI/UX designer across online shopping at
  [Tesco](//www.tesco.com/). I worked on the native mobile apps and website for
  groceries, a mobile phones ecommerce site, and helped develop the company-wide
  design libraries across the various platforms.

  Prior to that I was working in Southampton as a Designer and Consultant at
  [Alliants](//alliants.com) where I worked with clients such as
  [Four Seasons Hotels and Resorts](//fourseasons.com),
  [Travelodge](//travelodge.co.uk),
  [Ski Solutions](//skisolutions.com),
  [Babylon Health](//babylonhealth.com),
  [Sun Life Financial (Canada)](//www.sunlife.com),
  [CooperVision/Specsavers](//www.specsavers.co.uk/contact-lenses/coopervision),
  [Channel 5](//channel5.com),
  [butterfly.life](//itunes.apple.com/gb/app/butterfly-life/id1258575969),
  [VisitBritain](//www.visitbritain.com/gb/en),
  and [OpenJaw Technologies](//www.openjawtech.com).

  In 2010 I founded a [font foundry](https://www.myfonts.com/foundry/Matt_Grey/),
  which has released a number of free and commercial [fonts](/fonts). In the
  past I have also worked in print and illustration, producing album artwork,
  brochures and books. -->

profile_picture: /images/profile-pictures/wanning_profile.jpg

experience:
  - company: Forecast PECO Call Center Labor Needs
    position: Main designer
    period: Apr 2020 - Jun 2020

  - company: Question Retrieval on Question Answering Platforms
    position: Main designer
    period: Apr 2019 - Dec 2019

  - company: Tweets Stance Detection
    position: Main designer
    period: Sep 2018 - Nov 2018

education:
  - course: Delft University of Technology
    place: Master of Embedded System

  - course: China University of Geosciences (CUG, Wuhan)
    place: Bachelor of Electrical Engineering

  - course: Wuhan University
    place: Minor in Engineering Management



competitions:
  - event: RESI Hackathon
    period: 2018
    result: Winning team

  - event: Culture Mile Fusion Prize
    period: 2019 - 2020
    result: Shortlisted (Ongoing)

skills:
  - Python, Java, C, SQL, Matlab
  - Statistical Analysis
  - Machine Learning
  - Deep Learninges
  - Contextual inquiry

tools:
  - Linux  
  - Git
  - Tableau
  - Spark
  - Jupyter
  

about_site: |
  - Designed and built from scratch by me using
  [Jekyll](https://jekyllrb.com/).

  - The typefaces used are
  [DM Sans](https://fonts.google.com/specimen/DM+Sans) and
  [DM Serif Display](https://fonts.google.com/specimen/DM+Serif+Display),
  designed by [Colophon Foundry](https://www.colophon-foundry.org/).

  - Other tools and libraries used include, [SASS](http://sass-lang.com/),
  [jQuery](https://jquery.com/),
  [Headspace](https://github.com/gdub22/headspace) and
  [Normalize.css](http://github.com/necolas/normalize.css).

  - All the code for this site is open source and available on
  [Github](https://github.com/mattgreydesign/mattgreydesign.github.io), deployed
  and hosted using [Netlify](http://netlify.com/).

  - Although the code is opensource under the GNU General Public License v3, all
  content is Copyrighted. [Read more](https://github.com/MattGreyDesign/mattgreydesign.github.io/blob/master/LICENSE)
  {:.list--dashed .list--small}
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Matt Grey",
    "jobTitle": "UX Designer",
    "nationality": "British",
    "url": "http://www.himatt.com/",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "London",
      "addressCountry": "United Kingdom"
    }
  }
</script>

<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-image">
      <img src="{{ page.profile_picture }}" alt="">
    </div>

    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes">
      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>

        <!-- <div class="about-section about-section--nested">
          <h3 class="about-section-title type-level-2">Competitions</h3>
          <dl class="relational-list">
            {% for competition-item in page.competitions %}
              <dt class="relational-list__title">{{ competition-item.event | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ competition-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ competition-item.result | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div> -->
      </div>

      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Tools &amp; Technologies</h3>
          <ul class="list--dashed list--small">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Skills</h3>
          <ul class="list--dashed">
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

   <!--  <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">Colophon: about this site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div> -->

  </div>
</div>
